<header class="container d-flex align-items-center justify-content-between mt-4 p-2">
    <div class="col-3 text-start text-light mt-1"></div>
    <div class="col-6">
      <div class="text-center">
        <img src="../../../assets/img/sw_logo.png" alt="SW logo" />
      </div>
    </div>
    <ul class="col-3 d-flex d-flex justify-content-between text-light
      text-decoration-none list-unstyled mt-3">
    <li *ngIf="!usersService.isLogged()">
      <a class="text-decoration-none nav-item" id="register" routerLink=""
      (click)="open($event)">
        Register</a>
    </li>
    <li *ngIf="!usersService.isLogged()">
      <a class="text-decoration-none nav-item" id="login" routerLink=""
      (click)="open($event)">
      Login</a>
    </li>
    <li *ngIf="usersService.isLogged()" >
      <a class="text-decoration-none nav-item" href="#" (click)="logout()">Log Out</a>
    </li>
    </ul>
</header>



<!-- Register Modal -->


<!-- Login Modal -->
