<header class="container d-flex align-items-center justify-content-between mt-4 p-2">
    <div class="col-3 text-start text-light mt-1"></div>
    <div class="col-6">
      <div class="text-center">
        <img src="../../../assets/img/sw_logo.png" alt="SW logo" />
      </div>
    </div>
    <ul class="col-3 d-flex d-flex justify-content-between text-light
      text-decoration-none list-unstyled mt-3">
    <li *ngIf="!usersService.isLogged()">
      <a class="text-decoration-none nav-item" data-bs-toggle="modal"
        data-bs-target="#registerModal" routerLink="">
        Register</a>
    </li>
    <li *ngIf="!usersService.isLogged()">
      <a class="text-decoration-none nav-item" data-bs-toggle="modal"
      data-bs-target="#loginModal" routerLink="">
      Login</a>
    </li>
    <li *ngIf="usersService.isLogged()" >
      <a class="text-decoration-none nav-item" href="#" (click)="logout()">Log Out</a>
    </li>
    </ul>
</header>



<!-- Register Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Register</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-register></app-register>
      </div>
    </div>
  </div>
</div>


<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Login</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-login></app-login>
      </div>
    </div>
  </div>
</div>
