<form class="d-flex flex-column m-auto" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="m-2 mt-4">
    <label for="email" class="form-label">Email</label>
    <input type="email" id="email" class="form-control" formControlName="email">
  </div>
  <div class="m-2">
    <label for="password" class="form-label">Password</label>
    <input type="password" id="password" class="form-control" formControlName="password">
  </div>
  <div class="m-2 text-center">
    <button type="submit" class="col-4 btn btn-info m-2">Login</button>
  </div>
</form>
