/* .ship-card-container{
  position: relative;
  width: 100%;
}

.ship-image{
  position: absolute;
  top: 5%;
  left: 50%;
}

.ship-details{
  position: absolute;
  top: 5%;
  left: 5%;
} */

/* .img-custom{
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.cardCustom{
  background-color: #1d1b1b;
}

p, h1{
  color: white;
}




