.ship-card-container{
  position: relative;
  width: 100%;
}

.ship-image{
  position: absolute;
  top: 5%;
  left: 50%;
}

.ship-details{
  position: absolute;
  top: 5%;
  left: 5%;
}

p, h1{
  color: white;
}




